*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    
    
    overflow: hidden;
}
canvas{
    position: relative;
    top: 0;
    left: 0;
    
}


@font-face{
    src: url(fonts/PPWoodland-Bold.otf);
    font-family: woods;
}



/*grid for whole page*/
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    ". title ."
    ". navi .";
}
.title{
    grid-area: title;
}
.navi{
    grid-area: navi;
    justify-self: center;
}
.heading{
    /*color: #000;*/
    color: white;
    font-size: 13vw;
    text-align: center;
    font-family: woods;
    padding-top: 10vh;
    padding-bottom: 1vh;
}


.menu{
    font-size: 2vw;
    padding-top: 1vh;
    padding-bottom: 20px;
}

/*styling for links*/
.navlinks{
    color: white;
    font-family: woods;
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none;
}
.navlinks:hover {
    color: red;
}